In [ ]:
#  dupicate(pd.drop_duplicate), empty(pd.dropna)

In [ ]:
# outliers

In [ ]:
# Columns with multiple values

In [ ]:
# values in a column or across columns not having same units

In [ ]:
# non-ascii chars, whitespace, etc.

In [10]:
keywords = '\t data science    \n'
keywords

'\t data science    \n'

In [5]:
keywords.strip()

'data science'

In [7]:
# regex
import re

#  $ end of line
#  ^ begining of line
#  [] to specify character class [aez], [a-z] , 
#    [^aez] negation
#    [ab$]  special character has no special meaning

#   backslash with character signal various special sequences
#   \d digits  \d=[0-9]
#   \s whitespace    \s=[\t\n\r\f\v]

#   *  previous character can be matched zero or more times
#   +  repeat at least one
#   ?  matches either once or zero times
#   .  mathces anything except a newline character
#   {m,n} at least m repititions and at most n.   c/{1,2}b will match 'c/b', 'c//b', but not 'cb' nor 'c///b'
#   use backslash \ to remove special meaning.  ex.  \[  or  \$  etc...

In [12]:
re.findall(r'\s+', keywords)

['\t ', ' ', '    \n']

In [13]:
# regex OBJECT
regex = re.compile(r'\s+')
regex.findall(keywords)

['\t ', ' ', '    \n']

In [14]:
re.split(r'\s+',keywords)

['', 'data', 'science', '']

In [15]:
regex.split(keywords)

['', 'data', 'science', '']

In [ ]:
# re.ignorecase()

In [20]:
import pandas as pd

pd.set_option('max_colwidth',100)

pd.read_html('https://docs.python.org/3/howto/regex.html')[3]   #<-- table number

,Method/Attribute,Purpose
0,match(),Determine if the RE matches at the beginning of the string.
1,search(),"Scan through a string, looking for any location where this RE matches."
2,findall(),"Find all substrings where the RE matches, and returns them as a list."
3,finditer(),"Find all substrings where the RE matches, and returns them as an iterator."

In [21]:
keywords = "\r\nappature\t \n\n science\n"

In [22]:
re.split(r'\s+',keywords.strip())

['appature', 'science']

In [23]:
text = """From: author@example.com
User-Agent: Thunderbird 1.5.0.9 (X11/20061227)
MIME-Version: 1.0"""
print(text)

From: author@example.com
User-Agent: Thunderbird 1.5.0.9 (X11/20061227)
MIME-Version: 1.0

In [24]:
regex = re.compile(r'(.*):(.*)')
regex.findall(text)

[('From', ' author@example.com'),
 ('User-Agent', ' Thunderbird 1.5.0.9 (X11/20061227)'),
 ('MIME-Version', ' 1.0')]

In [29]:
text = """Dave dave@gmail.com
Steve steve@hotmail.com
Rob rob@yahoo.com
Ryan ryan@earthlink.com"""

In [30]:
pattern = r'[A-Z0-9]+@[A-Z0-9]+[.][A-Z]{2,3}'
regex = re.compile(pattern, flags=re.IGNORECASE)

regex.findall(text)

['dave@gmail.com', 'steve@hotmail.com', 'rob@yahoo.com', 'ryan@earthlink.com']

In [31]:
for email in regex.finditer(text):
    print(email)
dir(email)

<re.Match object; span=(5, 19), match='dave@gmail.com'>
<re.Match object; span=(26, 43), match='steve@hotmail.com'>
<re.Match object; span=(48, 61), match='rob@yahoo.com'>
<re.Match object; span=(67, 85), match='ryan@earthlink.com'>

['__class__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'end',
 'endpos',
 'expand',
 'group',
 'groupdict',
 'groups',
 'lastgroup',
 'lastindex',
 'pos',
 're',
 'regs',
 'span',
 'start',
 'string']

In [ ]:
# Methods supported by match object

#  group()
#  start()   starting position of match
#  end()     ending pos of match
#  span()    start and end as tuple

In [32]:
for email in regex.finditer(text):
    print(email.group())

dave@gmail.com
steve@hotmail.com
rob@yahoo.com
ryan@earthlink.com

In [33]:
# cont... REPLACE STRING

# split
# sub
# subn
# modify


regex.sub('removed',text)

'Dave removed\nSteve removed\nRob removed\nRyan removed'

<br><br><br><font size=10>5.4.2</font>

In [ ]:
# STRING FUNCTIONS IN PANDAS

In [34]:
import numpy as np

email_addresses = pd.Series(regex.findall(text)+[np.nan])
email_addresses

0        dave@gmail.com
1     steve@hotmail.com
2         rob@yahoo.com
3    ryan@earthlink.com
4                   NaN
dtype: object

In [36]:
#  email_addresses.map(lambda x: 'gmail' in x)

# NaN with cause error

In [37]:
match = email_addresses.str.contains('gmail')
match

0     True
1    False
2    False
3    False
4      NaN
dtype: object

In [40]:
# to split email address into username, domain name, suffix

pattern = r'([A-Z0-9]+)@([A-Z0-9]+)\.([A-Z]{2,4})'
email_addresses.str.findall(pattern, flags=re.IGNORECASE)

0        [(dave, gmail, com)]
1     [(steve, hotmail, com)]
2         [(rob, yahoo, com)]
3    [(ryan, earthlink, com)]
4                         NaN
dtype: object

In [42]:
email_addresses.str[:4]

0    dave
1    stev
2    rob@
3    ryan
4     NaN
dtype: object