<br><br><br>Jeff Smolinski<br>
10/10/2020<br>
Homework 5

# Web scrapping for Data Scientist job in CO(Total points 9)

In this exercise we'll do web scrapping for **Data Scientist job in CO**


Here is the link to the search query

https://www.indeed.com/jobs?q=data+scientist&l=CO

As you can see at the bottom of the page there are link to series of pages related to this search.
If you click on second page, search url changes to

https://www.indeed.com/jobs?q=data+scientist&l=CO<br>
https://www.indeed.com/jobs?q=data+scientist&l=CO&start=10<br>
https://www.indeed.com/jobs?q=data+scientist&l=CO&start=20<br>
https://www.indeed.com/jobs?q=data+scientist&l=CO&start=30<br>
https://www.indeed.com/jobs?q=data+scientist&l=CO&start=40<br>
https://www.indeed.com/jobs?q=data+scientist&l=CO&start=50<br>
https://www.indeed.com/jobs?q=data+scientist&l=CO&start=60<br>
https://www.indeed.com/jobs?q=data+scientist&l=CO&start=70<br>
https://www.indeed.com/jobs?q=data+scientist&l=CO&start=80<br>

If you click on 3rd then url changes to

https://www.indeed.com/jobs?q=data+scientist&l=CO&start=20

Hence to go to more pages we can format search string(**change start=??** part) for **requests.get in a loop**

In [5]:
#!curl https://www.indeed.com/robot.txt
# FILE NOT FOUND

In [1]:
#import urllib
#import urllib3
#http = urllib3.PoolManager()
#r = http.request('GET', 'http://indeed.com/robots.txt')
#r.status

import urllib.robotparser


rp = urllib.robotparser.RobotFileParser()
rp.set_url('https://www.indeed.com/robot.txt')
rp.read()
rp.can_fetch('*','https://www.indeed.com/jobs?q=data+scientist&l=CO')

True

In [2]:
from bs4 import BeautifulSoup as bsoup
import requests
import pandas as pd

pages = []
url = 'https://www.indeed.com/jobs?q=data+scientist&l=CO'
url2 = 'https://www.indeed.com/jobs?q=data+scientist&l=CO&start='


response = requests.get(url)
soup = bsoup(response.text, "html.parser")
pages.append(soup.find(id='resultsCol'))
print(0)

for i in range(1,9):
    
    response = requests.get(url2+str(i*10))
    #print(response)
    soup = bsoup(response.text, "html.parser")
    #html = open(url2+str(i*10)).read()
    #soup = bsoup(html)
    pages.append(soup.find(id='resultsCol'))
    print(i)

0
1
2
3
4
5
6
7
8

# Q1 (5 =  4(non indicator columns) + 1(indicator columns) points) Please complete the following task

- Scrape 10 pages (**last page(10 th) url will be https://www.indeed.com/jobs?q=data+scientist&l=CO&start=90**)and build a pandas DataFrame containing following information
    + **job title, name of the company, location, summary of job description**
    + **Indicator columns(with value True/False) about keywords Python, SQL, AWS, RESTFUL, Machine learning, Deep Learning, Text Mining, NLP, SAS, Tableau, Sagemaker, TensorFlow, Spark**

Note:
- Make sure that you do a case insensitive search for keywords when filing(True/False) in the indicator columns
- You need to go to the webpage of detail job posting for keywords search. Main job posting only contains summary of the job description.  Build detail job posting webpage url  from web scrapping main search results.

In [186]:
df_all = pd.DataFrame()
print('RUNNING...', len(df_all),' len')

count = 0
for page_soup in pages:
    df = pd.DataFrame()
    #job_titles_obj = page_soup.find_all('a',{'class':'jobtitle'})
    job_titles = []
    company_names = []
    locations = []
    summaries = []
    descriptions = []
    #for job in page_soup.find_all('h2',{'class':'title'}):jobsearch-SerpJobCard
    
    for job in page_soup.find_all('div',{'class':'jobsearch-SerpJobCard'}):
        title = job.find('a',{'class':'jobtitle'})
        job_titles.append(title.get('title'))
        comp_name = job.find('span',{'class':'company'})
        company_names.append(comp_name.text.strip())
        loca = job.find('div',{'class':'location'})
        if loca == None:
            loca = job.find('span',{'class':'location'})
        locations.append(loca.text.strip())
        
        summary_obj = job.find('div',{'class':'summary'})
        summaries.append(summary_obj)
        
        url_des = title.get('href')
        result = url_des.find('indeed.com')
        if result == -1:
            url_des = 'https://www.indeed.com'+url_des
        #print(url_des)
        response = requests.get(url_des)
        soup = bsoup(response.text, "html.parser")
        temp = soup.find(id='jobDescriptionText')
        descriptions.append(temp.text.strip())
        
    count += 1
    print('Page: ',count)
        
        
        
    #print(job_titles)
    df['job_title'] = job_titles
    #print(company_names)
    df['company_name'] = company_names
    #print(locations)
    df['location'] = locations
    df['summary'] = summaries
    
    df['description'] = descriptions
    # ----
    '''
    #company_name_obj = page_soup.find_all('a',{'data-tn-element':'companyName'})
    company_names = []
    for name in page_soup.find_all('span',{'class':'company'}):
        company_names.append(name.text.strip())
    
    print(company_names)
    df['company_name'] = company_names
    '''
    # ----
    '''
    #location_obj = page_soup.find_all('span',{'class':'location'})
    locations = []
    for loca in page_soup.find_all('span',{'class':'location'}):
        locations.append(loca.text.strip())
    
    print(locations)
    df['location'] = locations
    '''
    # -----
    '''
    #sum_divs = page_soup.find_all()
    sum_lis = []
    for sum_div in page_soup.find_all('div',{'class':'summary'}):
        sum_lis.append(sum_div.find('li').contents[0])
    
    summary = '\n'.join(sum_lis)
    df['summary'] = summary
    '''
    #df
    #print(df)
    
    if len(df_all) == 0:
        df_all = pd.DataFrame(df)
        #print(df_all)
    else:
        #pd.merge(df_all,df, left_on='none', how='left')
        df_all = pd.concat([df_all, df], ignore_index=True)
    #df_all
    
    
#df_all.head(3)
print('done.')
#print(df_all)

RUNNING... 0  len
Page:  1
Page:  2
Page:  3
Page:  4
Page:  5
Page:  6
Page:  7
Page:  8
Page:  9
done.

In [187]:
df_all.reset_index(drop=True) # fail
df_all.reindex(axis="columns")

df_all.sample(10)

,job_title,company_name,location,summary,description
64,Data Scientist - Finance Domain,IHS Markit,"Boulder, CO 80301","[\n, [\n, [You have 5+ years of related work e...",Data Scientist – Financial Industry\nAre you r...
111,DATA SCIENTIST MANAGER,JBS USA Food Company,"Greeley, CO","[\n, [\n, [Solid technical hands-on skills in ...",JBS USA is a leading global provider of divers...
25,Machine Learning (ML) Developer,TCS,"Broomfield, CO","[\n, [\n, [ Experience with regression method...",Role: Machine learning (ML) developer\n\nLocat...
92,Data Scientist/Researcher (up to 25% profit sh...,CACI,"Aurora, CO 80010 (Delmar Parkway area)","[\n, [\n, [In depth knowledge and practical ex...","Job Description\nJob Description\nBITS, a CACI..."
123,Data Engineer With Sippd,"MORI Associates, Inc.",United States,"[\n, [\n, [Work closely and interactively with...",Data Engineer Job Description\nTake your caree...
117,Junior Data Scientist,Ascent Services Group,"Denver, CO 80246 (Southeastern Denver area)","[\n, [\n, [There is typically several back and...",Req #: 20-07349\nTitle: Junior Data Scientist\...
28,Data Science Analyst,xentity corporation,"Denver, CO","[\n, [\n, [1 year of consulting experience – h...",Our Government and Large Commercial high-profi...
53,Machine Learning Engineer,Havenly,"Denver, CO","[\n, [\n, [While a part of the job will be tra...","Havenly, Inc. is a funded and fast growing con..."
90,"Artificial Intelligence, Consultant - Applied ...",Deloitte,"Denver, CO","[\n, [\n, [Perform , <b>data</b>, studies and...",Strategy & Analytics-Analytics and Cognitive\n...
66,Senior Quality Data Analyst,SCL Health Corporate,"Broomfield, CO 80038","[\n, [\n, [Minimum of five (5) years of experi...","You.\nYou bring your body, mind, heart and spi..."

In [188]:
df_2 = df_all.copy(deep=True)

In [189]:
df_2.sample(3)

,job_title,company_name,location,summary,description
78,Natural Language Processing Engineer,Pearson,"Boulder, CO","[\n, [\n, [Strong in using Jupyter notebooks f...",Description\nWe are the world’s learning compa...
32,Sr. Data Analyst,STRIVE HEALTH,"Denver, CO","[\n, [\n, [Working knowledge of analyzing medi...","Strive Overview:\nFounded in 2018, Strive Heal..."
26,Senior Data Scientist,Hotel Engine,"Denver, CO 80246 (Southeastern Denver area)","[\n, [\n, [Partner with , <b>data</b>, engine...",Hotel Engine (https://www.hotelengine.com) is ...

In [149]:
keywords = 'Python, SQL, AWS, RESTFUL, Machine learning, Deep Learning, Text Mining, NLP, SAS, Tableau, Sagemaker, TensorFlow, Spark'

keys = keywords.split(', ')
#keys = [x.lower() for x in keys]
print(keys)

['Python', 'SQL', 'AWS', 'RESTFUL', 'Machine learning', 'Deep Learning', 'Text Mining', 'NLP', 'SAS', 'Tableau', 'Sagemaker', 'TensorFlow', 'Spark']

In [190]:
df_2.description

0      Req #: 20-07349\nTitle: Junior Data Scientist\...
1      Req #: 20-07348\nTitle Data Scientist III\nLoc...
2      GRS # 162897\n\n\nRole: Data Scientist\n\n\nLo...
3      Our client is a Data Analytics, a market leade...
4      The coolest jobs on this planet… or any other…...
                             ...
127    Embedded Machine Learning Research Engineer\nB...
128    Artificial Intelligence, Senior Consultant – A...
129    Artificial Intelligence, Consultant - Applied ...
130    BS in Computer Science or related technical fi...
131    Strategy & Analytics-Analytics and Cognitive\n...
Name: description, Length: 132, dtype: object

In [191]:

for k in keys:
    strs = df_2.description
    x = []
    #for i in strs:
        #x.append(i.str.contains(k, na=False, case=False))
    x = strs.str.contains(str(k), na=False, case=False)
    kk = k.replace(' ','_')
    print(kk)
    df_2[kk] = x

Python
SQL
AWS
RESTFUL
Machine_learning
Deep_Learning
Text_Mining
NLP
SAS
Tableau
Sagemaker
TensorFlow
Spark

In [192]:
df_2.sample(3)

,job_title,company_name,location,summary,description,Python,SQL,AWS,RESTFUL,Machine_learning,Deep_Learning,Text_Mining,NLP,SAS,Tableau,Sagemaker,TensorFlow,Spark
76,PART TIME DATA SCIENCE INTERN-CAREER DEVELOPMENT,JBS USA Food Company,"Greeley, CO","[\n, [\n, [Technical hands-on skills in machin...",JBS USA is a leading global provider of divers...,True,True,True,False,True,True,False,False,False,False,False,True,False
11,Data Scientist,Dataiku,"Denver, CO","[\n, [\n, [Our ideal candidate is comfortable ...",Dataiku allows enterprises to create value wit...,True,True,True,False,True,False,False,False,False,False,False,False,True
113,"Director , Corporate Security-Artificial Intel...",Cognizant Technology Solutions,"Englewood, CO 80110","[\n, [\n, [Management and Security Architectur...",Cognizant requires an AI&A expert with a stron...,False,False,False,False,False,False,False,False,False,False,False,False,False

In [194]:
#df_2['Machine_learning'][60:90]
df_2['Machine_learning'].value_counts()
#df_2.loc[df_2['Machine_learning'] == True]

True     84
False    48
Name: Machine_learning, dtype: int64

# Q2 (1 point) Save your DataFrame to pickle file name *indeed_job_co.pkl*. 
   Load this pkl file in dataFrame and use this dataFrame for answering following questions.

   <font color='red'>upload the pickle file(indeed_job_co.pkl) along with solution notebook to the canvas</font>

In [195]:
#write code here
import pickle
import sys
sys.setrecursionlimit(100000)
df_all.to_pickle("./indeed_job_co.pkl") #potentially_malicious.pkl

In [196]:
df_loaded2 = pd.read_pickle("./indeed_job_co.pkl")

In [197]:
df_loaded2.sample(2)

,job_title,company_name,location,summary,description
87,Applied Machine Learning Engineer Intern,Ricoh,"Boulder, CO 80301","[\n, [\n, [You will be looking at big , <b>dat...",Internship Program Overview\nOur interns will ...
77,"GIS Data Analyst/Scientist, Task 6.9.2.4",Indrasoft,"Aurora, CO","[\n, [\n, [Knowledge of , <b>data</b>, scienc...",Job Details\nDescription\nJob Title: GIS Data ...

<font size = "6" color='red'> Use pandas functionality to answer question 2</font>
# Q3 a (1 point) Which city has maximum job posting.

Denver, final answer.

In [200]:
df_2['location'].value_counts()

Denver, CO                                           30
Boulder, CO                                          11
Denver, CO 80202 (Central Business District area)     7
Colorado                                              6
Greeley, CO                                           5
Denver, CO 80246 (Southeastern Denver area)           5
Colorado Springs, CO                                  5
Boulder, CO 80301                                     5
Englewood, CO                                         4
Aurora, CO                                            4
Broomfield, CO (Interlocken area)                     2
Englewood, CO 80110                                   2
Boulder, CO 80305 (Central Boulder area)              2
Denver, CO 80202 (Lodo area)                          2
Lafayette, CO                                         2
Aurora, CO 80011 (Norfolk Glen area)                  2
Fort Collins, CO                                      2
Littleton, CO 80120                                   2
Denver, CO 80237 (Hampden South area)                 2
Broomfield, CO                                        2
Denver, CO 80237 (Southeastern Denver area)           2
Boulder, CO 80309 (Colorado University area)          2
United States                                         2
Golden, CO 80401                                      2
Greenwood Village, CO 80111                           2
Englewood, CO 80112                                   2
Evergreen, CO 80437                                   1
Denver, CO 80238                                      1
Broomfield, CO 80038                                  1
Colorado Springs, CO 80920 (Briargate area)           1
Broomfield, CO 80021                                  1
Centennial, CO 80122                                  1
Louisville, CO                                        1
Greenwood Village, CO 80121                           1
Denver, CO 80225                                      1
Denver, CO 80014                                      1
Longmont, CO                                          1
Centennial, CO 80112                                  1
Denver, CO 80201                                      1
Broomfield, CO 80021 (Interlocken area)               1
Arvada, CO                                            1
Aurora, CO 80010 (Delmar Parkway area)                1
Colorado Springs, CO 80914 (Powers area)              1
Boulder, CO 80302 (Whittier area)                     1
Name: location, dtype: int64

# Q3 b (1.5 point) - Top 3 most demanding skills(like Python, AWS, SQL ...)

In [232]:

for i in df_2.columns[5:]:
    print(i)
    print(type(df_2[i].value_counts()))
    dx = df_2[i].value_counts()
    #dx.set_index([0], inplace=True)
    print(dx)
    true_count = df_2[i].sum()
    print(true_count)
    #print(dx.loc['True'])
    #print(df_2.loc[dx[i] == True].sum())

Python
<class 'pandas.core.series.Series'>

KeyError: "None of [Float64Index([nan, nan], dtype='float64')] are in the [index]"

# Q3 c(.5 point) What other questions you would like to ask  based on indeed data?

This is free response questions.

*Write your anser in this cell. Double click this cell to edit this cell*